/* Comentarios ctrl + } 
Selector de etiqueta
header {
    background: pink;
}
Selector de clase
.link {
    color: red;
} 
Selector de id 
#Portafolio {
    color: aqua;
} */
body {
    font-family: 'Source Sans Pro', sans-serif;
}
h1,
h2,
h3,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    
}
h1 {
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
}
.hero {
    height: 300px;
}
.project-details {
    width: 500px;
}
.project-imageContainer {
    width: 500px;
}